/* div {
    background-color: #eee;
    padding: 5px 5px;
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    outline: solid black 5px;
    border-radius: 10px;
    text-align: center;
}

.first {
    border: solid red 5px;
}

.second {
    border-color: blue green;
    border-style: solid;
    border-width: 5px;
}

.third {
    border-color: red green blue yellow;
    border-style: dashed;
    border-width: 5px;
} */


div {
    background-color: #eee;
    width: 400px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px;

}

.element {
    border-left-style: solid;
    border-left-width: 7px;
    /* border-left-color: aquamarine; */
    margin: 30px 40px;
    outline-style: solid;
    outline-width: 10px;
    outline-color: #eee;
}

.element-1 {
    border-left-color: deeppink;
}

.element-2 {
    border-left-color: black;
    visibility: hidden;
}

.element-3 {
    border-left-color: darkcyan;
}