/* Assignment_1 */
/* div {
    background-color: #eee;
    color: black;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    text-shadow:
        0.5px 0.5px 0 red,
        1px 1px 0 blue,
        1.5px 1.5px 0 purple;
} */

/* Assignment_2 */
/* div {
    background-color: #eee;
    color: black;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.three {
    text-transform: lowercase;
} */


/* Assignment_3 */
/* div {
    background-color: #eee;
    color: black;
    padding: 25px 20px;
    margin: 20px 20px;
    width: 320px;
}

.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* Assignment_4 */
/* a {
    background-color: cadetblue;
    color: white;
    text-transform: capitalize;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px auto;
    text-decoration: none;
    padding: 20px 30px;
    border-bottom: 5px solid rgb(69, 63, 63);
    width: fit-content;
    height: fit-content;
    display: block;
} */