* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* .parent {
    background-color: #eee;
    text-align: center;
    text-transform: capitalize;
    margin: 40px auto;
    padding: 20px;
    transition: margin 0.5s linear;
    width: fit-content;
    height: 200px;
}

.parent:hover {
    margin-top: 0;
}

.child {
    background-color: #b1b0b0;
    text-align: center;
    padding: 20px 40px;
    text-transform: capitalize;
    width: fit-content;
    transition: margin 0.5s 0.5s linear;
}

.child:hover {
    margin-top: 40px;
} */
/* 
div {
    background-color: #eee !important;
    width: 400px;
    font-size: 20px !important;
    color: transparent !important;
    position: relative;
    margin: 10px auto;
    outline: none;
    border: none !important;
}

div::before {
    content: "Kareem";
    font-size: 20px !important;
    color: black;
    position: absolute;
    width: 40px;
    text-align: center;
    left: 180px;
} */

html {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {
    width: 50%;
    margin: 10px auto;
    padding: var(--mainPadding, 10px);
    color: var(--mainColor, red);
    border: 2px solid var(--mainColor, black);
}