/* Box Shadow
    H-Shadow | V-Shadow | Blur | Spread | Color | Inset
*/

/* Box Sizing
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    - This adds box-sizing: as border-box for all items in the page
    - It makes the padding and border inside the box model
    - NOTE:: We shouldn't force a specific height to the item 
        leaving its height stretching with the padding, border, and content
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

div {
    padding: 20px;
    background-color: #eee;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 10px 10px 0 0 red;
}